In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
train_df=pd.read_excel('Data_Train.xlsx')
train_df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [4]:
test_df=pd.read_excel('Test_set.xlsx')
test_df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [5]:
final_df=pd.concat([train_df,test_df])
final_df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [6]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [7]:
final_df['Date_of_Journey']=pd.to_datetime(final_df['Date_of_Journey'])
final_df['Date']=final_df['Date_of_Journey'].dt.day
final_df['Month']=final_df['Date_of_Journey'].dt.month

final_df['Year']=final_df['Date_of_Journey'].dt.year

C:\Users\delin\AppData\Local\Temp\ipykernel_17648\616449044.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  final_df['Date_of_Journey']=pd.to_datetime(final_df['Date_of_Journey'])

In [8]:
final_df['Date']=final_df['Date'].astype(int)

final_df['Month']=final_df['Month'].astype(int)

final_df['Year']=final_df['Year'].astype(int)
final_df[['Date','Year','Month']]
final_df.drop('Date_of_Journey',axis=1,inplace= True)

In [9]:
final_df.head(10)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019
5,SpiceJet,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873.0,24,6,2019
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270.0,1,3,2019
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019
9,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625.0,27,5,2019

In [ ]:
final_df['Arrival_Time']=final_df['Arrival_Time'].str.split(' ').str[0]
final_df['Arrival_Time']

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [ ]:
final_df['Arrival_Hour']=final_df['Arrival_Time'].str.split(':').str[0].astype('int')
final_df['Arrival_Minutes']=final_df['Arrival_Time'].str.split(':').str[1].astype('int')

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Year             13354 non-null  int32
 13  Arrival_Hour     13354 non-null  int32
 14  Arrival_Minutes  13354 non-null  int32
dtypes: float64(1), int32(5), object(9)
memory usage: 1.4+ MB

In [ ]:
final_df.drop('Arrival_Time',axis=1,inplace= True)

In [ ]:
final_df['Departue_Hour']=final_df['Dep_Time'].str.split(':').str[0].astype('int')
final_df['Departue_Minutes']=final_df['Dep_Time'].str.split(':').str[1].astype('int')
final_df.drop('Dep_Time',axis=1,inplace=True)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Airline           13354 non-null  object
 1   Source            13354 non-null  object
 2   Destination       13354 non-null  object
 3   Route             13353 non-null  object
 4   Duration          13354 non-null  object
 5   Total_Stops       13353 non-null  object
 6   Additional_Info   13354 non-null  object
 7   Price             10683 non-null  float64
 8   Date              13354 non-null  int32
 9   Month             13354 non-null  int32
 10  Year              13354 non-null  int32
 11  Arrival_Hour      13354 non-null  int32
 12  Arrival_Minutes   13354 non-null  int32
 13  Departue_Hour     13354 non-null  int32
 14  Departue_Minutes  13354 non-null  int32
dtypes: float64(1), int32(7), object(7)
memory usage: 1.3+ MB

In [ ]:
final_df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Departue_Hour,Departue_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50

In [ ]:
final_df[final_df['Total_Stops'].isna()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Departue_Hour,Departue_Minutes
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [ ]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [ ]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, '4 stops':4,'nan':2})

In [ ]:
final_df.drop('Route',axis=1,inplace=True)

In [ ]:
final_df['Additional_Info'].nunique()

10

In [ ]:
final_df[final_df['Duration']=='3h']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Departue_Hour,Departue_Minutes
53,IndiGo,Banglore,Delhi,3h,0.0,No info,3943.0,18,6,2019,0,15,21,15
97,Jet Airways,Banglore,Delhi,3h,0.0,In-flight meal not included,6478.0,3,6,2019,22,50,19,50
257,Jet Airways,Banglore,Delhi,3h,0.0,In-flight meal not included,5769.0,21,6,2019,10,10,7,10
286,IndiGo,Banglore,Delhi,3h,0.0,No info,4823.0,12,5,2019,19,55,16,55
295,Jet Airways,Banglore,Delhi,3h,0.0,No info,7229.0,6,5,2019,11,20,8,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,Jet Airways,Banglore,Delhi,3h,0.0,No info,NaN,18,5,2019,10,10,7,10
2552,Jet Airways,Banglore,Delhi,3h,0.0,No info,NaN,3,4,2019,10,10,7,10
2565,Jet Airways,Banglore,Delhi,3h,0.0,No info,NaN,21,4,2019,22,50,19,50
2588,Air India,Delhi,Cochin,3h,0.0,No info,NaN,27,3,2019,17,10,14,10
2622,Jet Airways,Banglore,Delhi,3h,0.0,In-flight meal not included,NaN,3,5,2019,20,45,17,45

In [ ]:
def Duration_in_min(value):
    a=value.split(" ")
    b=a[0]
    if 'm' in b:
        return int(a[0][:-1])
    else:        
        b=int(a[0][:-1])
        if len(a)>1:
            c=int(a[1][:-1])
            return (b*60)+c
        else:
            return (b*60)
 
final_df['Duration']=final_df['Duration'].map(Duration_in_min)  
final_df['Duration']

0        170
1        445
2       1140
3        325
4        285
        ...
2666    1435
2667     155
2668     395
2669     915
2670     860
Name: Duration, Length: 13354, dtype: int64

In [ ]:
final_df[final_df['Duration']<30]

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Departue_Hour,Departue_Minutes
6474,Air India,Mumbai,Hyderabad,5,2.0,No info,17327.0,6,3,2019,16,55,16,50
2660,Air India,Mumbai,Hyderabad,5,2.0,No info,NaN,12,3,2019,16,55,16,50

In [ ]:
final_df.drop(6474,axis=0,inplace=True)
final_df.drop(2660,axis=0,inplace=True)

In [ ]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
# labelencoder=LabelEncoder()
# final_df['Airline']=labelencoder.fit_transform(final_df['Airline'])
# final_df['Source']=labelencoder.fit_transform(final_df['Source'])
# final_df['Destination']=labelencoder.fit_transform(final_df['Destination'])
# final_df['Additional_Info']=labelencoder.fit_transform(final_df['Additional_Info'])

In [ ]:
final_df.shape

(13351, 14)

In [ ]:
final_df.Airline.unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [ ]:
ohe=OneHotEncoder()
airline=final_df['Airline'].to_numpy().reshape(-1,1)
airline=ohe.fit_transform(airline).toarray()
final_df['Airline']=airline

In [ ]:
final_df.Airline.unique()

array([0., 1.])